# pip install tensorflow
# pip install keras
# pip install opencv-python
# Thư viện cho giao diện người dùng (PyQt5)
PyQt5==5.15.9

# Thư viện xử lý ảnh và video
opencv-python==4.8.0.76
numpy==1.23.5

# Thư viện YOLOv8
ultralytics==8.0.43

# Thư viện hỗ trợ các tính năng bổ sung
collections-extended==1.0.3